.div1{
    border: 2px solid black;
    height: 300px;
    width: 650px;
    position: relative;
    margin-top: 30px;
}
.square{
  background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-right: 950px;
    margin-top: 15px;
    margin-left: 20px;
      
}
.div2{
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-right: 900px;
    margin-top: 35px;
    margin-left: 15px;
    
    border-top-left-radius :100px;
    
}
.div3{
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-top: -250px;
    margin-right: 200px;
    border-radius: 35%;

}
.div4{
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-top: 35px;
    margin-right: 200px;
    border-radius: 20%;
}
.div5{
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-top: -250px;
    margin-right: 200px;
    border-radius: 90%;
    margin-left: 350px;
}
.div6{
   
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-right: 200px;
    border-radius: 90%;
    margin-left: 350px;
    border-top-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.div7{
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-top: -245px;
    margin-right: 3000px;
    
    margin-left: 525px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 25px; 
}
.div8{
    background-color: purple;
    border: 4px solid orange;
    height: 100px;
    width: 100px;
    margin-top: 30px;
    margin-right: 200px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: 525px;
  
}



